@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Changed from 100dvh */
    width: 100%;
    font-family: "Raleway", sans-serif;
    overflow-x: hidden; /* Prevent horizontal overflow */
    background-color: #f5f7ff;
}

.nav-item {
    letter-spacing: 0.5px;
}

.btn-outline-dark {
    font-size: 14px;
    font-weight: 600;
}

/* Profile image */
.profile-img {
    width: 33px;
    height: 33px;
    object-fit: cover;
    /* border: 2px solid #004D40; */
}

/* Username styling */
.user-name {
    font-size: 18px;
    color: #333;
}

.main-content {
    flex: 1;
    padding: 20px;
    margin-top: 100px;
}

.title {
    color: #3c3f66;
}

.chart-container {
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.job-post{
    background-color: #eff3ff;
    border-radius: 20px;
}

.job-listings {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Responsive columns */
    gap: 20px;
}

.job-card {
    background-color: #f9faff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.job-card:hover {
    transform: translateY(-5px); /* Move the card upwards */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Increase the shadow for a lifted effect */
}

.job-head {
    /* color: ; */
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
}

.job-company {
    font-weight: 400;
    font-size: 20px;
    /* color: #6e6e6e; */
}

.job-location{
    font-weight: 400;
    font-size: 16px;
}

.apply-job{
    background-color: #42a3b8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    letter-spacing: 0.5px;
}

.apply-job:hover{
    background-color: white;
    color: #42a3b8;
    border: 1px solid #42a3b8;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure navbar stays above content */
}

.foot{
    background-color: #161C2D;
    color: #fff;
}

.foot p{
    color: #C0C0C0;
}

.foot li>a{
    color: #C0C0C0;
}

.foot li>a:hover{
    color: #fff;
}

.space{
    letter-spacing: 0.5px;
}