@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Changed from 100dvh */
    width: 100%;
    font-family: "Raleway", sans-serif;
    overflow-x: hidden; /* Prevent horizontal overflow */
    background-color: #f5f7ff;
}

.nav-item {
    letter-spacing: 0.5px;
}

.btn-outline-dark {
    font-size: 14px;
    font-weight: 600;
}

/* Profile image */
.profile-img {
    width: 33px;
    height: 33px;
    object-fit: cover;
    /* border: 2px solid #004D40; */
}

/* Username styling */
.user-name {
    font-size: 18px;
    color: #333;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure navbar stays above content */
}

.job-detail{
    margin-top: 50px;
}